<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>React click counter app</title>
  </head>
  <body>
    <div id="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Count the clicks!</h1>
          <div class="d-flex flex-wrap justify-content-center pt-4" id="root">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
